:root {
  --flux-purple: #5935FB;
  --background-secondary: #efefef;
  --text-normal-size: 15px;
  --text-small-size: 14px;
  --text-colour-secondary: #515151;
}

body {
    width: 100%;
    margin: 0;
    font-family: Figtree, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: var(--text-normal-size);
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

.primary {
    background-color: var(--flux-purple);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: #FFF;
    text-decoration: none;
    font-size: var(--text-normal-size);
}

.secondary {
    background-color: var(--background-secondary);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: var(--text-colour-secondary);
    text-decoration: none;
    font-size: var(--text-normal-size);
}

.smalllink {
    color: var(--flux-purple);
    font-size: var(--text-small-size);
    text-decoration: none;
}

footer {
    font-size: var(--text-small-size);
    color: var(--text-colour-secondary);
}